html {
		position: relative;
		min-height: 100%;
}

body {
		/* Margin bottom by footer height */
		margin-bottom: 100px;
		background-image: url("http://www.esa.int/var/esa/storage/images/esa_multimedia/images/2008/03/wide-field_view_of_the_summer_triangle/10241486-2-eng-GB/Wide-field_view_of_the_Summer_Triangle.jpg");
		background-position: left top;
		background-repeat: repeat-y;
        background-size: 2000px 1300px;
}

.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 100px;
		background-color: #f5f5f5;
		padding-top: 20px;
}

.footer p {
		display: block;
}

.btn-space {
    margin-right: 20px;
}
